
<div class="profileImgDiv">
 <img class="userImg" src="<%= @user.image %>" alt="">
 <h1 class="userName"><%= @user.name %></h1>
</div>
<!-- <h2><%= @user.location %></h2>
 -->

<!-- underneath will be user's reviews -->

<div id="revSection">
  <% @user.reviews.each do |review| %>
    <div class="homeRw">
      <tr>
      	<%= review.reviewable.first %>
       
      </tr>
      
  </div>
    <% end %>
</div>