<div id="landing">

  <div class="navbar navbar-static-top hidden-print" id="header">
    <div class="container">
      <div class="navbar-header header-bg">
        <span id="logo"></span><h1 id="header-name">Boutiq.travel</h1>
      </div>
    </div>
  </div>


  <div id="content">
    <h2 id="jumbo-image" class="image-overlay image-mask">
      <div class="headline">
        <span>Let your friends take you<br>to your next discovery</span>
      </div>


      <a href= <%= user_omniauth_authorize_path(:facebook)%> > <!-- this tag need to be the link to login with facebook -->

        <div class="login-bg">
          <div class="fb-group">
            <span class="fa fa-facebook"></span>
            <span class="login-text">Log in with Facebook</span>
          </div>
        </div>
      </a>
    </h2>

    <div class="faq-bg" id="faq">
      <div class="about-us">About Us</div>

      <div class="faq-title">What is Travel Insider?</div>
      <div class="faq">Travel Insider is the Social Travel App where you can find places recommended by your friends. All the reviews are made by people you know and you can trust.<br>
Keep track of places you like and share these with your friends.</div>

      <div class="faq-title">Why do I need to signup with Facebook?</div>
      <div class="faq">Travel Insider is a closed network where you can see the reviews from your friends only, people you know, not strangers. To make it work, we need to connect you with Facebook so that we can pair your profile with your friends reviews.</div>

      <div class="faq-title">Can I signup if I don’t have a Facebook account?</div>
      <div class="faq">Unfortunately, it’s not possible at this stage. Our goal is for you to have access to trusted reviews from your friends and people you know. We may add other signup options in the future.</div>

      <div class="faq-end">So, are you ready to join your friends discoveries?</div>
    </div>


  </div>

  <footer>
    <div class="container">Footer Info</div>
  </footer>

</div>