<div id="landing">

  <div class="navbar navbar-static-top hidden-print" id="header">
    <div class="container">
      <div class="navbar-header header-bg">
        <!-- <span id="menu" class="fa fa-bars"></span> -->
        <span id="logo"></span><h1 id="header-name">Travel Insider</h1>
      </div>
    </div>
    <div>
    </div>
  </div>


  <div id="content">
    <h2 id = "jumbo-image">
      <div class="headline">
        <span>Let your friends take you to your next discovery</span>
      </div>

      <div class="login-bg">
        <div class="fb-group">
          <span class="fa fa-facebook"></span>
          <span class="login-text">Log in with Facebook</span>
        </div>
      </div>

    </h2>

    
    <div id="fb-login">
      
    </div>
    

  </div>



  <footer>Footer Info</footer>

</div>