<div class="navbar navbar-static-top hidden-print">
  <div class="container">
    <div class="navbar-header">
      <span id="menu" class="fa fa-bars"></span>
      <span id="logo"></span><h1 id="header">Travel Insider</h1>
    </div>
  </div>
</div>

<h2 id = "jumboImage">Your friends take you to your next discovery</h2>
<footer>Find me in app/views/home/index.html.erb</footer>
