body {
  background-color: #fff;
  color: #333;
  font-size: 36px;
  font-weight: 600;
  line-height: 53px;
  width: 640px;
}

footer {
  background-color: #B1B1B1;
  bottom: 0;
  color: #1D1D1D;
  font-family: sans-serif;
  font-size: 14px;

  height: 89px;
  width: 640px;
}

footer .container {
  margin: 0 auto;
  width: 640px;
  text-align: center;
  padding-top: 40px;
}

/* Text style for "Footer info" */
.footer-info {
  color: #4a4a4a;
  font-family: Muli;
  font-size: 24px;
  font-weight: 600;
  height: 36px;
  line-height: 35px;
  width: 560px;
}

p,
ol,
ul,
td {
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  font-size: 11px;
  padding: 10px;
}

.navbar a {
  color: #fff;

  &:visited {
    color: #fff;
  }

  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

.place-title {
  font-size: 150%;
}

.place-address {
  font-size: 106%;
}

.place-tag {
  background-color: #00AF74;
  bottom: 0;
  color: #D5EFE6;
  display: inline-block;
  font-size: 150%;
  height: 10px;
  padding: 3px;
  position: relative;
  right: 29px;
  width: 50px;
  z-index: 100;
}

.user-photo {
  display: inline-block;
  height: 18px;
  position: relative;
  right: 29px;
  top: 3px;
  width: 18px;
  z-index: 100;
 }

.review-text {
  font-style: italic;
}


a {
  color: #000;

  &:visited {
    color: #000;
  }

  &:hover {
    text-decoration: underline;
  }
}

div {
  &.field,
  &.actions {
    margin-bottom: 10px;
  }
}

#menu {
  color: #B1B1B1;
  font-size: 48px;
  position: relative;
  left: -40px;
  top: 3px;
}

#notice {
  color: #0f0;
}


h1 {
  display: inline-block;
  left: 4px;
  position: relative;
  top: -20px;
}

.field_with_errors {
  background-color: #f00;
  display: table;
  padding: 2px;
}

#error_explanation {
  background-color: #f0f0f0;
  border: 2px solid red;
  margin-bottom: 20px;
  padding: 7px;
  padding-bottom: 0;
  width: 450px;

  h2 {
    background-color: #c00;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin: -7px;
    margin-bottom: 0;
    padding: 5px 5px 5px 15px;
    text-align: left;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

/*
======================================================
*/

/* for landing */
/* Header */

#header .container {
  margin: 0;
  padding: 0;
}

div .hidden-print {
  margin: 0 auto;
  padding: 0;
}

/* Style for "Header bg" */
#landing .header-bg {
  width: 640px;
  height: 88px;
  background-color: white;
  box-shadow: 0 4px 0 #c3c8cd;
}

/* Style for "Logo" */
#logo {
  width: 68px;
  height: 68px;
  background-color: #50d2c2;
  margin-top: 2%;
  border-radius: 34px;
  display: inline-block;
  margin-left: 140px;
  top: -5px;
  z-index: 100;
}

/* Text style for "Name" */
#header-name {
  height: 53px;
  color: #50e3c2;
  font-size: 36px;
  font-family: Muli;
  /*font-weight: 600;*/
  line-height: 53px;
}

/* Content */
#content a:hover {
  text-decoration: none;
}

/* Style for "Image overlay" */
#landing .image-overlay1 {
  width: 640px;
  height: 1142px;
  /*opacity: 0.1;*/
  background-color: #b574f5;
}

/* Style for "Image mask" */
#landing .image-mask1 {
  width: 640px;
  height: 1463px;
  background-color: black;
}


/* Style for "Headline bg" */
#landing #jumbo-image {
  background-image: url('landing_bg.jpg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 640px;
  height: 815px;
  margin: 0;
  opacity: 1;
  padding-top: 68px;
  width: 640px;
}

/* jumbo image */
#landing .headline {
  margin: 0 auto;
  width: 560px;
  height: 161px;
  background-color: rgba(74, 73, 74, 0.5);
  padding-top: 10px;
  text-align: center;
}

/* Text style for "Headline" */
#landing .headline span {
  height: 142px;
  color: white;
  font-family: Muli;
  font-size: 42px;
  /*font-weight: 100;*/
  line-height: 71px;
}

// FB login button
/* Style for "login-bg" */
#landing .login-bg {
  background-color: #507cc0;
  border-radius: 8px;
  height: 127px;
  margin: 280px auto;
  width: 560px;
}

/* #fb-login */
#landing .fb-group {
  position: relative;
  left: 35px;
}

/* Style for "F" */
#landing .fa-facebook {
  color: #fff;
  font-size: 180%;
  position: relative;
  top: 34px;
}


/* Text style for "Log in" */
#landing .login-text {
  width: 309px;
  height: 43px;
  color: #fff;
  font-family: Muli;
  /*font-family: "Source Sans Pro";*/
  font-size: 30px;
  font-weight: 400;
  line-height: 43px;
  position: relative;
  top: 22px;
  left: 60px;
}

// About Us
/* Style for "FAQ bg" */
#landing .faq-bg {
  background-color: #4a4a4a;
  color: #fff;
  font-family: Muli;
  height: 700px;
  padding: 10px 20px 50px;
  width: 640px;
}

/* Text style for "About us" */
#landing .about-us {
  font-size: 24px;
  font-weight: 600;
}

/* Text style for "FAQ title" */
#landing .faq-title{
  font-size: 24px;
  font-weight: 300;
  line-height: 35px;
  margin-top: 2em;
}

/* Text style for "FAQ" */
#landing .faq {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
}

/* Text style for "FAQ end" */
#landing .faq-end {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-left: 80px;
  margin-top: 2em;
}

/*
  ========for profile page==============
*/
// Header

#profile,
#header,
#content,
footer {
  width: 640px;
}

#profile a:link,
#profile a:hover {
  text-decoration: none;
}

.header-group {
  display: block;
  padding: 3px;
  text-align: center;
  width: 640px;
  background-color: white;
  box-shadow: 0 4px 0 #c3c8cd;
  padding: 5px 0 0 0;
}

#header-title {
  height: 53px;
  color: #fff;
  background-color: #50e3c2;
  font-size: 36px;
  font-family: Muli;
  /*font-weight: 600;*/
  line-height: 53px;
  width: 400px;
  text-align: center;
  position: relative;
  top: 0px;
}


// profile info
/* Content */
#user-profile {
  margin: 20px;
  text-align: center;
}

.profile-img {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 60px;
}

.user-name {
  color: #2C2C2C;
  font-size: 23px;
  line-height: 30px;
}

.user-location {
  color: #2C2C2C;
  font-size: 16px;
  font-weight: 100;
  line-height: 30px;
}

.review-header {
  margin-top: 20px;
  margin-left: 50px;
  font-size: 20px;
  font-weight: bold;
}

.review-group {
  margin-top: 30px;
  background-color: #E2E2E2;
  padding: 0px 13px 3px 50px;
  font-family: Muli;
}

.no-break {
  overflow: hidden;
  width: 540px;
  padding: 0;
  margin: 0;

  /*background-color: #CD127F;*/
}

.review-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 8px;
  z-index: 100;
}

.review-tag {
  background-color: #878787;
  color: #fff;
  padding: 0 40px;
  z-index: 200;
}

.review-stars {
  font-size: 70%;
  z-index: 200;
}

.review-location {
  display: block;
  font-size: 70%;
  position: relative;
  top: -20px;
}

.review-text {
  display: block;
  font-size: 70%;
  position: relative;
  top: -10px;
  line-height: 25px;
}

.reviews-pagination {
  margin: 5px 0 30px 0;
}

/* Text style for "Post a review" */
#post-review .post-a-review {
  width: 440px;
  height: 53px;
  color: white;
  font-family: Muli;
  font-size: 36px;
  font-weight: 600;
  line-height: 53px;
}

/* Style for "Post button" */
#post-review .post-button {
  width: 440px;
  height: 70px;
  background-color: #50d2c2;
}

/* Style for "Menu icon" */
#post-review .menu-icon {
  width: 50px;
  height: 50px;
  background-color: #cbcbcb;
}

/* Content */

/* Text style for "Post your review title" */
#post-review .post-your-review-title {
  width: 560px;
  height: 44px;
  color: #4a4a4a;
  font-family: Muli;
  font-size: 30px;
  font-weight: 600;
  line-height: 44px;
}

/* Text style for "Place name" */
#post-review .place-name {
  width: 560px;
  height: 35px;
  color: #4a4a4a;
  font-size: 24px;
  font-weight: 300;
  line-height: 35px;
}

/* Style for "Place bg" */
#post-review .place-bg {
  width: 560px;
  height: 60px;
  background-color: white;
}

/* Text style for "Place address" */
#post-review .place-address {
  width: 560px;
  height: 35px;
  color: #4a4a4a;
  font-family: Muli;
  font-size: 24px;
  font-weight: 300;
  line-height: 35px;
}

/* Style for "Address bg" */
#post-review .address-bg {
  width: 560px;
  height: 60px;
  background-color: white;
}

/* Text style for "Tag" */
#post-review .tag {
  width: 70px;
  height: 35px;
  color: #4a4a4a;
  font-family: Muli;
  font-size: 24px;
  font-weight: 300;
  line-height: 35px;
}

/* Text style for "Tag name" */
#post-review .tag-name {
  width: 110px;
  height: 35px;
  color: white;
  font-family: Muli;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
}

/* Style for "Tag bg" */
#post-review .tag-bg {
  width: 110px;
  height: 35px;
  background-color: #50d2c2;
}

/* Text style for "Rating" */
#post-review .rating {
  width: 144px;
  height: 35px;
  color: #4a4a4a;
  font-family: Muli;
  font-size: 24px;
  font-weight: 300;
  line-height: 35px;
}

/* Style for "Star" */
#post-review .star {
  width: 36px;
  height: 36px;
  background-color: #d8d8d8;
  border: 1px solid #979797;
}

/* Color for Star selected: #F8E71C */

/* Text style for "Your review:" */
#post-review .your-review {
  width: 144px;
  height: 35px;
  color: #4a4a4a;
  font-family: Muli;
  font-size: 24px;
  font-weight: 300;
  line-height: 35px;
}

/* Text style for "Write your review" */
#post-review .write-your-review {
  width: 560px;
  height: 35px;
  color: #4a4a4a;
  font-family: Muli;
  font-size: 24px;
  font-weight: 300;
  line-height: 35px;
}

/* Style for "Review bg" */
#post-review .review-bg {
  width: 560px;
  height: 400px;
  background-color: white;
  border-radius: 4px;
}

/* Text style for "Post your review now" */
#post-review .post-your-review-now {
  width: 560px;
  height: 53px;
  color: white;
  font-family: Muli;
  font-size: 36px;
  font-weight: 600;
  line-height: 53px;
}

/* Style for "Post now bg" */
#post-review .post-now-bg {
  width: 560px;
  height: 70px;
  background-color: #50d2c2;
}