body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

footer {
  background-color: #B1B1B1;
  bottom: 0;
  color: #1D1D1D;
  font-family: sans-serif;
  font-size: 14px;
}


p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  font-size: 11px;
  padding: 10px;
}

.navbar a {
  color: #fff;

  &:visited {
    color: #fff;
  }

  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

.placeTitle {
  font-size: 150%;
}

.placeAddress {
  font-size: 106%;
}

.placeTag {
  background-color: #00AF74;
  bottom: 0;
  color: #D5EFE6;
  display: inline-block;
  font-size: 150%;
  height: 10px;
  padding: 3px;
  position: relative;
  right: 29px;
  width: 50px;
  z-index: 100;
}

.userPhoto {
  display: inline-block;
  height: 18px;
  position: relative;
  right: 29px;
  top: 3px;
  width: 18px;
  z-index: 100;
 }

.reviewText {
  font-style: italic;
}


a {
  color: #000;

  &:visited {
    color: #000;
  }

  &:hover {
    text-decoration: underline;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#menu {
  color: #B1B1B1;
  font-size: 48px;
  position: relative;
  top: -3px;
}

#notice {
  color: #0f0;
}

#logo {
  background-color: #41A151;
  border-radius: 20px;
  display: inline-block;
  height: 40px;
  margin-left: 40px;
  top: -5px;
  width: 40px;
  z-index: 100;
}


h1 {
  color: #41A151;
  display: inline-block;
  font-size: 20px;
  left: 4px;
  position: relative;
  top: -10px;
}

.field_with_errors {
  background-color: #f00;
  display: table;
  padding: 2px;
}

#error_explanation {
  background-color: #f0f0f0;
  border: 2px solid red;
  margin-bottom: 20px;
  padding: 7px;
  padding-bottom: 0;
  width: 450px;

  h2 {
    background-color: #c00;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin: -7px;
    margin-bottom: 0;
    padding: 5px 5px 5px 15px;
    text-align: left;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

